
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --second-accent-color: #F5F4FA;
    --white-text-color: #FFFFFF;
    --white-background-color: #FFFFFF;
    --black-logo-color: #000000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --hero-background-color: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--white-background-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

/* ------------------ШАПКА САЙТУ--------------- */

.logo-black {
    color: var(--black-logo-color);
}

.menu-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.active {
    color: var(--accent-color);
}

.menu-list-link {
    color: var(--primary-text-color);
    
}

.menu-list-link:hover,
.menu-list-link:focus {
    color: var(--accent-color);
}

.menu-list .active:visited {
    color: var(--accent-color);
}

.menu-contacts {
    color: var(--title-text-color);
}

.menu-contacts-item .mail:hover,
.menu-contacts .mail:focus {
    color: var(--accent-color);
    
}

.menu-contacts-item .phone:hover,
.menu-contacts .phone:focus {
    color: var(--accent-color);
    
}

/* -------------ПІДВАЛ САЙТУ---------------- */

.footer-navigation {
    background-color: var(--hero-background-color);
}

.logo-white {
    color: var(--white-text-color);
}

.footer-contact-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-text-color);
}

.footer-contact-link.address {
    color: var(--white-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);   
}

/* ----------------ГЕРОЙ-------------- */

.hero {
    background-color: var(--hero-background-color);
}

.site-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.hero-button {
    font-family: inherit, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--white-text-color);
    color: var(--accent-color);
}

/* -------------ПЕРЕВАГИ КОМПАНІЇ---------- */

.title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text-item {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
}


/* ----------------ЧИМ МИ ЗАЙМАЕМОСЬ------------ */


/* наша команда */
.team {
    background-color: var(--second-accent-color);
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.position-item {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

/* --------------------ПОРТФОЛИО----------------- */
/* ---------------------------------------------- */

/* ------------------НАВІГАЦІЯ------------------- */
  
/* кнопки*/
.navigation-button {
    font-family: inherit, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--second-accent-color);
    color: var(--primary-text-color);
    cursor: pointer;
}

.navigation-button:hover,
.navigation-button:focus
 {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    background: var(--accent-color);
}

/* кінець кнопок */

.section-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.section-list-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
}


